@import "tailwindcss";

@font-face {
  font-family: "Graphie";
  src: url("/fonts/graphie/Graphie-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphie";
  src: url("/fonts/graphie/Graphie-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphie";
  src: url("/fonts/graphie/Graphie-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-yellow: #F9CF00;
  --color-orange: #EB8739;
  --color-blue: #143985;
  --color-teal: #009277;
  --color-red: #DE3E32;

  --font-graphie: "Graphie", sans-serif;
}

body {
  font-family: var(--font-graphie);
}